body{
font-family:Arial;
text-align:center;
background:#FF4500;
}

input{
width:300px;
padding:10px;
}

button{
padding:10px 20px;
background:#ff5722;
color:white;
border:none;
margin:10px;
}

canvas{
background:white;
border:5px solid #ddd;

}
